.container-gallery {
  margin-top: 119px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .content-gallery {
    justify-content: space-between;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 392px;
    height: 160px;
    margin: 8px;
    background-color: #1e1630;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    transition: all 0.8s;
  }

  .content-gallery:hover {
    background-color: #2d2147;
  }
  strong {
    color: #9886bd;
    font-size: 18px;
  }
  p {
    color: #e4d7f3;
    margin-top: 8px;
    font-size: 14px;
  }

  a {
    font-family: Raleway;
    margin-top: 16px;
    color: #5e5179;
    border: 0;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s;
  }
  a:hover {
    color: #8351e6;
    font-size: 17px;
  }
}
