
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    h1 {
      margin-bottom: 8px;
      font-size: 1.875rem;
      color: var(--blue-300);
    }
    p {
      margin-bottom: 8px;
      color: #e6e6e6;
      font-weight: bold;
      font-size: 1.5rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #4299e1;
    }
  }

